# Mac development
.idea
*DS_Store

# CI Tooling
.travis/travis_ci_deploy_key

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
